#top #header_main > .container, #top #header_main > .container .main_menu .av-main-nav > li > a, #top #header_main #menu-item-shop .cart_dropdown_link {
  height: 64px;
  line-height: 64px
}
.html_top_nav_header .av-logo-container {
  height: 64px
}
.html_header_top.html_header_sticky #top #wrap_all #main {
  padding-top: 64px
}